.running-logs-component {
  background-image: url('../../assets/running-bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0;
  min-height: 100vh;
  height: fit-content;
}

.running-logs__title {
  margin-top: 0;
  padding: 20px 0 0 40px;
}

.new-runs__form {
  padding: 0 0 40px 40px;

  input {
    margin-right: 20px;
  }

  button:hover {
    cursor: pointer;
  }
}

.runs__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  margin: 0 auto;
}

.runs__list li {
  margin: 0 2em 2em 0;
  padding: 5px;
  width: 15em;
  border: 2px solid#2c3a41;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.runs__list button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: fit-content;
  width: auto;
}

.runs__list button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.runs__list button:active {
  background-color: #525252;
  color: #fafafa;
}

.runs__list button.selected {
  background-color: black;
  color: white;
}

.runs__list button.selected:hover {
  background-color: #505050;
  color: white;
}

.runs__list button.selected:active {
  background-color: black;
  color: white;
}

