<div class="running-logs-component">
  <h3 class="running-logs__title">Running Logs</h3>
  <div class="new-runs__form">
    <label for="new-run">Distance: </label>
    <input id="new-run" #runDistance />
    <label for="new-run">Duration: </label>
    <input id="new-run" #runDuration />
    <label for="new-run">Route: </label>
    <input id="new-run" #runRoute />
  
    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="addRun(runDistance.value, runDuration.value, runRoute.value)">
      Add Run
    </button>
  </div>
  <app-run-details [run]="selectedRun"></app-run-details>
  <div>
    <ul class="runs__list">
      <li *ngFor="let run of runs">
        <h6>Run # {{run.id}}</h6>
        <p>Distance: {{run.distance}}</p>
        <p>Duration: {{run.duration}}</p>
        <p>Route: {{run.route}}</p>
        <button [class.selected]="run === selectedRun" type="button" (click)="onSelect(run)">View Details</button>
      </li>
    </ul>
  </div>
  
</div>



